/*You must implement the following breakpoints that will be considered desktop, tablet, and mobile. 
The browser should display a desktop version of the site when the width of the browser window is 992px and above. 
Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. 
Mobile view should appear only if the width of the browser is equal to or less than 767px.*/
body{
    background-color: royalblue;
    }
* {
    box-sizing: border-box;
  }
h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.75em;
    color: white;
    }
p {
    border: 1px solid black;
    background-color: tomato;
    width: 100%;
    height: 150px;
    font-family: serif;
    color: white;
    padding: 35px 10px 10px 10px;
    /* clear: right; */
    position: relative;
  }
.uppRight {
    text-align: right;
    color: black;
    border: 1px black;
    background-color: lightgreen;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 1px;
    font-size: 1.25em;
    font-family: sans-serif;
    Font-weight: bold;
  }
  
  /* Simple Responsive Framework. */
.row {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    }
  
/********** Large devices only **********/
@media (width >= 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      border: 1px solid green;
      margin-right: auto;
      margin-left: auto;
      padding: 5px;
      background-color: pink;
      }
    .col-lg-1 {
      width: 33.33%;
    }
    .col-lg-2 {
      width: 66.66%;
    }
    .col-lg-3 {
      width: 100%;
    }
  
  }
  
  /********** Medium devices only **********/
@media (width >= 768px) and (width < 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid rgb(128, 124, 0);
      margin-right: auto;
      margin-left: auto;
      padding: 5px;
      background-color: pink;
      }
    .col-md-1 {
      width: 50%;
    }
    .col-md-2 {
      width: 50%;
    }
    .col-md-3 {
      width: 100%;
    }
  }
  /*******Tiny Devices******/
@media (width < 768px) {
    .col-sm-01, .col-sm-02, .col-sm-03, .col-sm-04, .col-sm-05, .col-sm-06, .col-sm-07, .col-sm-08,
    .col-sm-09, .col-sm-10, .col-sm-11, .col-sm-12 { */
      float: left;
      border: 1px solid black;
      margin-right: auto;
      margin-left: auto;
      padding: 5px;
      background-color: pink;
    }
    .col-sm-01{
      width: 33.33%;
    }
    .col-sm-02{
      width: 66.66%;
    }
    .col-sm-03{
      width: 100%;
    }
  }
  